.Service-body {
    display        : flex;
    flex-wrap      : wrap;
    justify-content: space-evenly;
}

.Service-card-container {
    width         : 250px;
    height        : 200px;
    padding       : 8px;
    margin        : 8px;
    display       : flex;
    flex-direction: column;
    align-items   : center;
    border-style  : solid;
    border-width  : 2px;
    border-color  : #FFFFFF;
    border-radius : 5px;
}

.Service-card-image {
    height       : 90px;
    width        : 90px;
    border-radius: 50%;
    object-fit   : cover;

}