.About-body{
    margin-bottom: 30px;
}
.About-contact-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 8px;
}

.About-contact-item{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;   
}

.About-contact-icon{
    font-size: xx-large;
    margin:8px;
    color: #E94B3CFF;
}

.About-follow-container{
    margin-top: 32px;
    align-content: center;
    display:flex;
    flex-direction: column;
}

.About-social{
    width: 30%;
    margin: 4px;
    display: flex;
    flex-wrap: wrap;
    font-size: x-large;
    justify-content: space-evenly ;
    align-self: center;
    color: #E94B3CFF;
}

.About-social-icon:hover{
    font-size: xx-large;
    box-shadow: 0 0 30px 0 #E94B3CFF;
    padding: 4px;
    border-radius: 5px;
}