.Home-body {
    width: 100%;
}

.Home-image-container {
    display            : flex;
    /* height             : 400px; */
    background-image   : url('../../assests/images/bg-dark-leave.jpg');
    /* background-position: right; */
    background-repeat  : no-repeat;

}

.Home-intro-text {
    font-size: 20pt;
    margin   : auto;
}


.Home-image {
    height     : 350px;
    margin-left: 20px;
    padding    : 20px;
    float      : left;
}

@media screen and (max-width: 650px){
    .Home-image-container {
        display            : flex;
        flex-direction: column;
        height             : 450px;
        /* background-image   : url('../../assests/images/fog-forest.jpg');
        background-position: right;
        background-repeat  : no-repeat; */
    
    }
}