.Nav-body{
    background-color: #1A4A4F;
    width: 100px;
    height: fit-content;
    display: flex;
    align-items: center;
    position: fixed;
    top: 10%;
}

.Nav-menu-container{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Nav-drawer-container{
    font-size: x-large;
    margin-left: -8px;
    z-index: 1000;

}

.Nav-image{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-position: center center;
    background-repeat: no-repeat;
    object-fit: cover;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.Nav-option{
   height: 80px;
   width: 80px;
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: center;
   font-size: x-large;
   color: #1F2224;
   border-radius: 5px;
}

.Nav-option-text{
    visibility: hidden;
}

.Nav-option:hover.Nav-option-text{
    visibility: visible;
}

.Nav-option:hover {
    box-shadow: 0 0 30px 0 rgba(0, 199, 236, 0.5);
    background-color: #00c7ec;
  }

.Nav-opt-container{
    padding: 10px;
}