.Button-normal-button{
    width: 150px;
    align-self: center;
    border: 1px solid #00c7ec;
    background-color: #00aaaa;
    border-radius: 5px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 20px;
  }
  
  .Button-normal-button:hover{
    box-shadow: 0 0 30px 0 rgba(0, 199, 236, 0.5);
    background-color: #00c7ec;
  }