.App {
  background-color: #353839;
  color: antiquewhite;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.App-body {
  margin-left: 20px;
  margin-right: 20px;
}

.App-section{
  display: flex; 
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  flex-direction: column;

}

div.App-section > h2{
  padding-top: 20px;
}
