.Project-body {
    display        : flex;
    flex-wrap      : wrap;
    justify-content: space-evenly;
}

.Project-card-container {
    width         : 250px;
    height        : 200px;
    padding       : 4px;
    margin        : 8px;
    display       : flex;
    flex-direction: column;
    align-items   : center;
    border-style  : solid;
    border-width  : 2px;
    border-color  : #FFFFFF;
    border-radius : 5px;
}

.Project-card-image {
    height       : 80px;
    width        : 80px;
    border-radius: 50%;
    object-fit   : cover;

}

.Project-card-detail {
    white-space: normal;
    overflow   : hidden;
    font-size  : 12pt;
}